/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.cf, .clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}


/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

//@extend .inline-block;
.inline-block, .dib {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.db{
  display: block !important;
}
.dn{
  display: none;
}
.tran-delay{
  -webkit-transition-delay: all ease 300ms;
     -moz-transition-delay: all ease 300ms;
      -ms-transition-delay: all ease 300ms;
       -o-transition-delay: all ease 300ms;
          transition-delay: all ease 300ms;
}
.tran, .tran2{
  -webkit-transition: all ease 300ms;
     -moz-transition: all ease 300ms;
      -ms-transition: all ease 300ms;
       -o-transition: all ease 300ms;
          transition: all ease 300ms;
    -webkit-transform: translate3d(0,0,0); 
       -moz-transform: translate3d(0,0,0); 
        -ms-transform: translate3d(0,0,0); 
         -o-transform: translate3d(0,0,0); 
            transform: translate3d(0,0,0); 
}
.tran2{
  -webkit-transition: all ease 500ms;
     -moz-transition: all ease 500ms;
      -ms-transition: all ease 500ms;
       -o-transition: all ease 500ms;
          transition: all ease 500ms;
}
.bxsh{
    -webkit-box-shadow: 0 0 0.3em 0.15em darken($light-grey, 20%);
    -moz-box-shadow: 0 0 0.3em 0.15em darken($light-grey, 20%);
    box-shadow: 0 0 0.3em 0.15em darken($light-grey, 20%);
}
.bxsh-inset{
  -moz-box-shadow:    inset  0  8px 8px -8px $black, 
                        inset  0 -8px 8px -8px $black;
    -webkit-box-shadow: inset  0  8px 8px -8px $black, 
                        inset  0 -8px 8px -8px $black;
     box-shadow:        inset  0  8px 8px -8px $black, 
                        inset  0 -8px 8px -8px $black;
}

.bgi{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title{
  text-transform: uppercase;
  font-weight: bold;
}
.lh{
  line-height: 1.2;
}
.lh1{
  line-height: 1;
}
.cfff{
  color: #fff;
  &:link, &:active, &:hover, &:visited, &:focus{
    color: #fff;
  }
}
.bgcfff{
  background-color: #fff;
}
.bgclg{
  background-color: $light-grey;
}
.bmg{
  border: 1px solid $mid-grey;
}
.posa{
  position: absolute;
}
.posr{
  position: relative;
}
.vat{
  vertical-align: top;
}
.fz2{
  font-size: 2em;
}
.bd{
  border: 1px solid $grey;
}
.fll{
  float: left;
}
.flr{
  float: right;
}
.ttu{
  text-transform: uppercase;
}
.blue-background-section{
  background-color: $blue-light;
}
.bottom-line-wrap{
  border-bottom: 2px solid $light-grey;
  @extend .pb2;
  @extend .mw-960;
}

.default-animate{
  @extend .tran2;
  @media #{$s}{
    opacity: 0;
    transform: translate(0, 1em);
    &.animated  {
        opacity: 1;
        transform: translate(0, 0);
    }
  }
  &.fast-animate{
    @extend .tran;
  }
}


/////////////-fitvids-///////////////
.vidrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}




////// grayscale /////////
////// grayscale /////////
////// grayscale /////////


.grayscale {
  // /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  @extend .tran;
  // /*
  //   Chrome 19+,
  //   Safari 6+,
  //   Safari 6+ iOS,
  //   Opera 15+
  // */
  -webkit-filter: grayscale(1);

  // /* Firefox 35+ */
  filter: grayscale(1);

  // /* IE 6-9 */
  filter: gray;
}

.grayscale.grayscale-fade {
  transition: filter .3s;
}

// /* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .3s;
    transition:         -webkit-filter .3s;
  }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}

// /* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .3s ease;
  transition:         opacity .3s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}



///////////////// top video thing //////////////////
///////////////// top video thing //////////////////
///////////////// top video thing //////////////////

.video-hero{
    position: relative;
    background-color: $black;
    
    .video-holder{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 650px;
        overflow: hidden;
        z-index: 1;
        video, img{
            width: 100%;
            position: absolute;
            height: auto;
            @media #{$s2}{
                height: 400px;
                width: auto;
            }
        }
        
        .video-cover{
            position: absolute;
            z-index: 9999;
            width: 100%;
            height:100%;
            background-color: rgba($black, 0.7);
        }
    }
}
.video-hero, .video-holder{
    height: 400px;
    overflow: hidden;
    @media #{$s}{
        height: 450px;
    }
    @media #{$m} {
        height: 560px;
    }
    // @media #{$b} {
    //     height: 650px;
    // }
}
.video-content{
    position: relative;
    z-index: 2;
}






