/******************************************************************
Grid Stylesheet
******************************************************************/

@media #{$s}{
	.from-s-up-onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
	.from-s-up-twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
	.from-s-up-threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
	.from-s-up-fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
	.from-s-up-fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
	.from-s-up-sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
	.from-s-up-sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
	.from-s-up-eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
	.from-s-up-ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
	.from-s-up-tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
	.from-s-up-elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
	.from-s-up-twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */

	// layout & column defaults
	.from-s-up-onecol, .from-s-up-twocol, .from-s-up-threecol, .from-s-up-fourcol, .from-s-up-fivecol, .from-s-up-sixcol, .from-s-up-sevencol, .from-s-up-eightcol, .from-s-up-ninecol, .from-s-up-tencol, .from-s-up-elevencol, .from-s-up-twelvecol {
	  position: relative;
	  float: left;
	  margin-left: 2.762430939%;
	}

	.from-s-up-first {
	  margin-left: 0;
	}

	.from-s-up-last {
	  float: right;
	}
}

@media #{$m}{
	.onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
	.twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
	.threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
	.fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
	.fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
	.sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
	.sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
	.eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
	.ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
	.tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
	.elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
	.twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */

	// layout & column defaults
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	  position: relative;
	  float: left;
	  margin-left: 2.762430939%;
	}

	.first {
	  margin-left: 0;
	}

	.last {
	  float: right;
	}
}


@media #{$l}{
	.from-l-up-onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
	.from-l-up-twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
	.from-l-up-threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
	.from-l-up-fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
	.from-l-up-fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
	.from-l-up-sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
	.from-l-up-sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
	.from-l-up-eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
	.from-l-up-ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
	.from-l-up-tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
	.from-l-up-elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
	.from-l-up-twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */

	// layout & column defaults
	.from-l-up-onecol, .from-l-up-twocol, .from-l-up-threecol, .from-l-up-fourcol, .from-l-up-fivecol, .from-l-up-sixcol, .from-l-up-sevencol, .from-l-up-eightcol, .from-l-up-ninecol, .from-l-up-tencol, .from-l-up-elevencol, .from-l-up-twelvecol {
	  position: relative;
	  float: left;
	  margin-left: 2.762430939%;
	}

	.from-l-up-first {
	  margin-left: 0;
	}

	.from-l-up-last {
	  float: right;
	}
}











