/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

******************************************************************/







// /*********************
// CSS3 GRADIENTS
// Be careful with these since they can
// really slow down your CSS. Don't overdo it.
// *********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, right top, from($from), to($to));
	background-image: -webkit-linear-gradient(left, $from, $to);
	background-image: -moz-linear-gradient(left, $from, $to);
	background-image: -o-linear-gradient(left, $from, $to);
	background-image: linear-gradient(to right, $from, $to);
}

$light: #444;
$dark: #000;
.gradient{
	background: #9ea09d;
	background: -moz-linear-gradient(-45deg,  #9ea09d 0%, #1b211d 50%, #3a3a3a 50%, #727272 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9ea09d), color-stop(50%,#1b211d), color-stop(50%,#3a3a3a), color-stop(100%,#727272));
	background: -webkit-linear-gradient(-45deg,  #9ea09d 0%,#1b211d 50%,#3a3a3a 50%,#727272 100%);
	background: -o-linear-gradient(-45deg,  #9ea09d 0%,#1b211d 50%,#3a3a3a 50%,#727272 100%);
	background: -ms-linear-gradient(-45deg,  #9ea09d 0%,#1b211d 50%,#3a3a3a 50%,#727272 100%);
	background: linear-gradient(135deg,  #9ea09d 0%,#1b211d 50%,#3a3a3a 50%,#727272 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea09d', endColorstr='#727272',GradientType=1 );

}

// /*********************
// BOX SIZING
// *********************/

// /* @include box-sizing(border-box); */
// /* NOTE: value of "padding-box" is only supported in Gecko. So
// probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


//@include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin tb-bx($color){
	-moz-box-shadow:    inset  0  8px 8px -8px $color, 
                        inset  0 -8px 8px -8px $color;
    -webkit-box-shadow: inset  0  8px 8px -8px $color, 
                        inset  0 -8px 8px -8px $color;
     box-shadow:        inset  0  8px 8px -8px $color, 
                        inset  0 -8px 8px -8px $color;
}





// .logo{
//     background:url(logo.png) no-repeat;
//     @include image-2x("logo-hd.png", 120, 30);
// }
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width + px $height + px;
    background-size: $width / 10 + rem $height / 10 + rem;
  }
}



/////////example:

// &:after{
// 	@include arrow(40px, 30px, down, $dat-blue)
//     content: ''
//     left: 0
//     position: absolute
//     top: 0
// }


@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: #f2f2f2){
  
  width: 0; 
  height: 0;
  
  // Right
  @if $direction == right {
	    border-top: $height/2 solid transparent;
	    border-bottom: $height/2 solid transparent;
	    border-left: $width solid $color;
	}

  // Left
  @if $direction == left {
	    border-top: $height/2 solid transparent;
	    border-bottom: $height/2 solid transparent;
	    border-right: $width solid $color;
	}

  // Up
  @if $direction == up {
	    border-left: $width/2 solid transparent;
	    border-right: $width/2 solid transparent;
	    border-bottom: $height solid $color;
	}

  // Down
  @if $direction == down {
	    border-left: $width/2 solid transparent;
	    border-right: $width/2 solid transparent;
	    border-top: $height solid $color;
	}
}

/*
 * Apply a CSS3 transition-delay
 * @include transitionDelay(2s);
 */
@mixin transitionDelay($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	-ms-transition-delay: $delay;
	transition-delay: $delay;
}