.gsc-clear-button {
	display: none;
}

.gsc-control-cse.gsc-control-cse-en {
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 1;
	right: 1em;
	top: 2em;
	border: 0;
	width: auto;
	display: inline-block;
}

.gsc-control-cse.gsc-control-cse-en * {
	display: inline-block;
	width: auto;
}

.gsc-branding-text {
}

table.gsc-branding {
	display: none !important;
	height: 0;
	width: 0;
	overflow: hidden;
}

td.gsc-clear-button {
	display: none !important;
}

input#gsc-i-id1 {
	padding: 0.25em;
	min-width: 130px;
	border: 1px solid $blue;
}

input.gsc-search-button {
	background-color: $orange;
	padding: 0.5em 0.25em;
	height: auto;
	width: auto;
}
