//@import url(http://fonts.googleapis.com/css?family=Lato:400,900,300italic,400italic);

// @font-face {
// 	font-family: 'icomoon';
// 	src:url('../fonts/icomoon/icomoon.eot');
// 	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/icomoon/icomoon.woff') format('woff'),
// 		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
// 		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

$sans-serif:        'Proxima Nova', 'proxima-nova', 'Helvetica', sans-serif;
$serif:             'PT Serif', serif;

//need proxima nova regular, bold, light-italic

//set text variables to content variables
$body-text:         $sans-serif;
$title-text:        $sans-serif;
$button-font:       $sans-serif;

.serif{
	font-family: $serif;
}
.sans-serif{
	font-family: $sans-serif;
}


// /******************************************************************
// START THE BASE...  TYPE STYLES
// ******************************************************************/


// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-center-from-m-down{
    @media #{$m2}{
        text-align: center;
    }
}
.text-right  { text-align: right; }
body {
	font-family: $body-text;
	line-height: 1.5;
	color: $body-text-color;
	min-width: 319px;
}


// ***************************
// H1, H2, H3, H4, H5 STYLES
// ***************************

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	color: $title-text-color;
	font-family: $title-text;
	@extend .lh;

}
h4, .h4{
    font-size: em(18);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
}
h3, .h3{
    font-size: em(18);

    @media #{$s}{
        font-size: em(24);
    }
    @media #{$m}{
        font-size: em(28);
    }
}
h2, .h2{
    font-size: em(20);

    @media #{$s}{
        font-size: em(28);
    }
    @media #{$m}{
        font-size: em(32);
    }
}
h1, .h1{
    font-size: em(32);

    @media #{$s}{
        font-size: em(48);
    }
    @media #{$m}{
        font-size: em(56);
    }
}

.small-title {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(18);
    }
}

.small-medium-title {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

.medium-title {
    font-size: em(18);

    @media #{$s}{
        font-size: em(21);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

.mid-title{
    font-size: em(20);

    @media #{$s}{
        font-size: em(28);
    }
    @media #{$m}{
        font-size: em(32);
    }
    @media #{$b}{
        font-size: em(40);
    }
}

.bigger-title{
    font-size: em(32);

    @media #{$s}{
        font-size: em(48);
    }
    @media #{$m}{
        font-size: em(56);
    }
    @media #{$b}{
        font-size: em(72);
    }
}

// Big Title

.big-title{
    font-size: em(22);

    @media #{$s}{
        font-size: em(36);
    }
    @media #{$m}{
        font-size: em(48);
    }
    @media #{$b}{
        font-size: em(56);
    }
}

// Biggest Title

.biggest-title{
    font-size: em(36);

    @media #{$s}{
        font-size: em(48);
    }
    @media #{$m}{
        font-size: em(56);
    }
    @media #{$b}{
        font-size: em(80);
    }
}

.extra-large-title {
    font-size: em(56);

    @media #{$s}{
        font-size: em(64);
    }
    @media #{$m}{
        font-size: em(72);
    }
    @media #{$b}{
        font-size: em(96);
    }
    @media #{$l}{
        font-size: em(112);
    }
}

// Adoptable Pet Media Queries

.big-blue-hero-title{
    font-size: em(54);

    @media #{$s}{
        font-size: em(72);
    }
    @media #{$m}{
        font-size: em(80);
    }
    @media #{$b}{
        font-size: em(112);
    }
}

.big-blue-hero-content {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

.adoptable-pet-content {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(20);
    }
    @media #{$b}{
        font-size: em(20);
    }
}

// Adoptable Pet Cat/Dog of the Week

.adoptable-pet-of-week {

    .adoptable-image-header {
        font-size: em(34);

        @media #{$s}{
            font-size: em(48);
        }
        @media #{$m}{
            font-size: em(64);
        }
        @media #{$b}{
            font-size: em(80);
        }
    }

    .pet-of-week-name{
        font-size: em(24);

        @media #{$s}{
            font-size: em(32);
        }
        @media #{$m}{
            font-size: em(42);
        }
        @media #{$b}{
            font-size: em(64);
        }
    }

    .pet-of-week-description {
        font-size: em(16);

        @media #{$s}{
            font-size: em(20);
        }
        @media #{$m}{
            font-size: em(24);
        }
        @media #{$b}{
            font-size: em(32);
        }
    }
}

// Adoptable Pet Lightbox

.adoptable-pet-lightbox {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

.adoptable-pet-content-lightbox {
    font-size: em(16);
    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(18);
    }
}

// Adoptable Pet Options

.adoptable-pet-ctas {

    .adopt-headline {
        font-size: em(24);
        @media #{$s}{
            font-size: em(34);
        }
        @media #{$m}{
            font-size: em(48);
        }
        @media #{$b}{
            font-size: em(60);
        }
    }

   .adopt-text {
        font-size: em(16);
        @media #{$s}{
            font-size: em(24);
        }
        @media #{$m}{
            font-size: em(32);
        }
        @media #{$b}{
            font-size: em(40);
        }
    }
}

// Success Stories

.success-name {
    font-size: em(16);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

.success-title {
    font-size: em(24);

    @media #{$s}{
        font-size: em(32);
    }
    @media #{$m}{
        font-size: em(42);
    }
    @media #{$b}{
        font-size: em(64);
    }
}

.success-description {
    font-size: em(16);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

.success-button {
    font-size: em(16);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}


// Big Hero

.big-hero {
    font-size: em(22);

    @media #{$s}{
        font-size: em(24);
    }
    @media #{$m}{
        font-size: em(36);
    }
    @media #{$b}{
        font-size: em(56);
    }
}

// Text Block

.text-block {
    font-size: em(16);

    @media #{$b}{
        font-size: em(21);
    }
}





// Image Block

.image-block {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(30);
    }
}

.block-text {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

// Image Block Small

.image-block-small {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

// Half Image Match Height

.content-half-image-match-height {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

// Half Image

.half-image {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

// Contact Area

.contact-area-title {
    font-size: em(32);

    @media #{$s}{
        font-size: em(32);
    }
    @media #{$m}{
        font-size: em(48);
    }
    @media #{$b}{
        font-size: em(56);
    }
}

.contact-area-editor-one {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

.contact-area-editor-two {
    font-size: em(21);

    @media #{$s}{
        font-size: em(21);
    }
    @media #{$m}{
        font-size: em(21);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

.contact-area-button {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(18);
    }
}

// Sub Page Top Section

.sub-text-section-one {
    font-size: em(32);

    @media #{$s}{
        font-size: em(32);
    }
    @media #{$m}{
        font-size: em(48);
    }
    @media #{$b}{
        font-size: em(56);
    }
}

.sub-text-section-two, 
.sub-text-section-three {
    font-size: em(24);

    @media #{$s}{
        font-size: em(24);
    }
    @media #{$m}{
        font-size: em(32);
    }
    @media #{$b}{
        font-size: em(40);
    }
}

// Colored Bar

.colored-bar-headline {
    font-size: em(20);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

.colored-bar-button {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

// Light Blue Text Area

.light-blue-editor {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

// Light Blue Text Area - Full WIdth

.light-blue-text-area-full-width-editor {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

// Slider

.slider-text {
    font-size: em(20);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

// Video

.video-title {
    font-size: em(20);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

// BG Image Text

.bg-image-text-editor {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

// Border Text

.border-text-editor {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

.border-text-header {
    font-size: em(20);

    @media #{$s}{
        font-size: em(20);
    }
    @media #{$m}{
        font-size: em(24);
    }
    @media #{$b}{
        font-size: em(32);
    }
}

// Dark Sections

.dark-section-title {
    font-size: em(16);

    @media #{$s}{
        font-size: em(18);
    }
    @media #{$m}{
        font-size: em(18);
    }
    @media #{$b}{
        font-size: em(21);
    }
}

.dark-section-editor {
    font-size: em(16);

    @media #{$s}{
        font-size: em(16);
    }
    @media #{$m}{
        font-size: em(16);
    }
    @media #{$b}{
        font-size: em(16);
    }
}

a{
	-webkit-transition: ease all 300ms;
	-moz-transition: ease all 300ms;
	-ms-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}


p {
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}


.bigger{
	font-size: 1.2em;
}

.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}


.smaller-text, .smaller{
	font-size: 0.74em;
}

.blue{
	color: $blue;
}

.light-blue {
	color: $blue-light; 
}

.light-blue-two {
	color: $blue-light-2;
}

.black {
	color: $black; 
}

.white{
	color: $white;
}

.orange {
	color: $orange
}



