/*********************
COLORS
*********************/

//greys
$dark-grey:         #333333;
$grey:              #555555;
$mid-grey:          #B3B3B3;
$light-grey:        #ebebeb;
$black:             #172023;
$white:             #fff;


//blue
$blue:              #0163a9;
$blue-dark:         #0064a7;
$blue-darker:       #0C2283;
$blue-light:        #00a5cd;
$blue-light-2:      #00A5CD;
$blue-sky:          #d0e9f9;

//reds, yellows, and oranges
$yellow:            #ffde00;
$red:               #d95d62;
$red-light:         #d9797d;
$orange:            #f68c27;

// green
$green:             #B4BE35;


//alerts (not actively used)
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;
//wat
$label-pink:        #f01d4f;




//setting the color variables to content specific variables

$body-text-color:   $black;

$title-text-color:  $black;

$link-color:        $dark-grey;
$link-hover:        $grey;





//image uri
$r : "../images/"; //#{$r}/logo-sprite.png