/*
Sass::SyntaxError: You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend .bgi" on line 326 of library/scss/templates/_program-services.scss.


Backtrace:
library/scss/_base-classes.scss:80
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/simple_sequence.rb:327:in `check_directives_match!'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/simple_sequence.rb:198:in `block (2 levels) in do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/simple_sequence.rb:198:in `each'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/simple_sequence.rb:198:in `block in do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/simple_sequence.rb:188:in `map!'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/simple_sequence.rb:188:in `do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/sequence.rb:112:in `block in do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/sequence.rb:110:in `map'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/sequence.rb:110:in `do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/comma_sequence.rb:71:in `block in do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/comma_sequence.rb:70:in `map'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/selector/comma_sequence.rb:70:in `do_extend'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:44:in `visit_rule'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:37:in `visit_children'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:15:in `visit'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/plugin.rb:108:in `method_missing'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/Users/Mike/.rvm/gems/ruby-2.1.1/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/Users/Mike/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/Mike/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/Mike/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Mike/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: You may not @extend an outer selector from within @media.\A You may only @extend selectors within the same directive.\A From \"@extend .bgi\" on line 326 of library/scss/templates/_program-services.scss.\A "; }
