
// Success Stories Single

.top-litter-content {
	margin: 0; 
	padding: 2em; 
	background-color: $blue;  
	position: relative;
	@extend .bgi; 

	&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: $blue; 
		content: ""; 
		opacity: 0.7; 
	}
}

.litter-title {
	text-align: center;  
	color: #fff;  
	z-index: 1; 
	position: relative;
}

.single-success-story-content {
	position: relative;
}

.single-success-story-buttons {
	color: $blue-light; 
	border: 2px solid $blue-light; 
	border-right: 10px solid $blue-light; 
	padding: 5px; 
	text-align: center; 
	font-size: 21px; 
	position: absolute;
	font-weight: bold; 
	margin-top: 60px; 
}


// Litter Success Stories

.top-single-content {
	margin: 0; 
	padding: 2em; 
	background-color: $blue;  
	position: relative;
	@extend .bgi; 

	&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: $blue; 
		content: ""; 
		opacity: 0.9; 
	}
} 

.top-single-content-inner {
	z-index: 1;
	position: relative; 

	.top-single-content-title {
		text-align: center;  
		color: #fff; 
	}
}

.top-single-content {

        @media #{$b2}{
            .top-litter-content {
            	margin: 0 auto; 
            	max-width: 500px; 
            }
            .litter-title {
            	margin: 0 auto; 
            	max-width: 500px; 
            }
        }
	}



// Dog/Cat of the Week

.adoptable-pet-of-week {
	position: relative;
	min-height: 550px; 
	@extend .bgi;
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $blue;
		opacity: 0.5;
	}
} 

.adoptable-pet-of-week-image {

	.adoptable-image-header {
		color: $white; 
		text-shadow: 0 0 1em $black; 
		padding: .3em 0 0 .5em;
		font-weight: bold;
		z-index: 1; 
	}
}

.adoptable-pet-of-week-content {
	 	padding: 20px; 
	 	h3 {
	 		color: $white; 
	 		text-shadow: 0 0 1em $black; 
	 		margin: 25px 0 0 0; 
	 		font-weight: bold;
	 	}

	 	p {
	 		color: $white; 
	 		text-shadow: 0 0 1em $black; 
	 		font-weight: bold;
	 	}
}

.pet-of-week-description {
	font-size: 21px !important;
}

// Adoptable Dogs/Cats Content

.adoptable-pet{
	background-color: $blue;
	max-width: 1000px;
	margin: 2em auto;
}

.adoptable-pet-content {
	padding: 1em; 
}

.pet-name {
	color: #fff; 
}

ul span:nth-of-type(2) {
	color: #fff; 
}

.bigger,
.span-sex, 
.span-dob,
.span-weight, 
.span-color,
.span-status {
	color: #fff;
	font-weight: bold;  
}

.bigger-lightbox {
	margin: 8px 0; 
}

// Adoptable Pets Lightbox

.adoptable-pet-content-lightbox {
	margin: 0; 
}

.adoptable-pet-lightbox {
	background-color: #fff; 
	color: $black; 
	margin: 0; 
}

.bigger-lightbox {
	color: $black; 
}

.adoptable-pet-lightbox span:nth-of-type(2) {
	color: $black; 
}

// Adoptable Pet CTA's

.adoptable-pet-ctas {
	h2 {
	color: $white;
	border-bottom: 2px solid $white; 
	} 
	p { color: $white; }
}

.adoptable-pet-cta {
	background-color: $blue;
	margin: 0 auto; 
	border: 1px solid white; 
	padding: 1em; 
	// max-width: 520px;
	margin: 1em auto;

	@media #{$m}{
		float: left; 
		width: 50%;  
		min-height: 475px;  
	}

	h2 {
	color: $white;
	border-bottom: 2px solid $white; 
	text-align: center; 
	margin: 0 auto;
	} 

	p {
		color: $white; 
		text-align: center; 
		font-weight: bold; 
		margin: 1em auto; 
	}
}

.button-test {
	max-width: 250px; 
	height: 50px; 
	margin: 0 auto;  
	background-color: $orange; 
	display: block;
	color: #fff;
}

.adoptable-pet-ctas-responsive {
    @media #{$b2}{
		.adoptable-pet-cta,
		.adoptable-pet-cta-two {
			float: none; 
			width: 100%; 
			height: 50%
		}
		.button-test {
			margin: 0 auto;
			width: 100%;  
		}
    }
}

// Play Button for Videos 

.adoptable-pet-image {
	position: relative;
}

.play-button-dog {
	top: 50%; 
	margin-top: -75px; 
	left: 50%; 
	margin-left: -75px; 
	position: absolute;
}


// Success Stories

.success-stories {
	text-align: center; 
	max-width: 640px;
	margin: 2em auto;
	@media #{$b}{
		max-width: 960px;
	}
	@media #{$l}{
		max-width: 1270px;
	}
} 

.success-story {
	max-width: 318px;
	margin: 1em auto;
	position: relative;
	overflow: hidden;
	text-align: center; 
	@media #{$s}{
		width: 49%;
		margin: 0.5%; 
		float: left;
	}
	@media #{$b}{
		width: 32%;
	}
	@media #{$l}{
		width: 24%;
	}
	@media #{$b}{
	&:hover{
		.success-story-content-wrap{
			transform: translateY(0%);
			background-color: rgba($blue-light, 0.8);
			opacity: 1;  
		}

		.success-name {
			display: none; 
		}
		.success-title, .success-description, .button{
			opacity: 1;
		}
	}
  }
}

.success-story-content-wrap {
	color: #fff;   
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	// @media #{$b}{
	// 	transform: translateY(70%);
	// }
	@media #{$b2}{
		background-color: rgba($blue-light, 0.8);
	}
	@extend .tran;
	@extend .bgi; 

	.success-name, .success-title, .success-description, .button {
		opacity: 1; 
		color: #fff; 
		@extend .tran; 
	}
	.success-title, .success-description, .button{
		@media #{$b}{
			opacity: 0;
		}
	}

	.success-name {
		font-size: 32px; 
		text-shadow: 2px 2px 1em black; 
	}
	.success-title {
		font-size: 21px; 
	}
	.success-description {
		font-size: 16px; 
	}
	.button {
		font-size: 16px; 
		width: auto; 
	}
	h1{
		.follow-the-litter-archive-list &{
			text-shadow: 2px 2px 1em #000;
		}
	}

	&:hover{
		h1{
			.follow-the-litter-archive-list &{
				text-shadow: 2px 2px 1em rgba( #000, 0);
			}
		}
	}
}


.single-success-story-sidebar{
	@media #{$l}{
		font-size: 1.2em;
	}
}
// follow the litter
.litter-title-twitter-icon{
	float: left;
	width: 8%;
	@media #{$s2}{
		display: none;
	}
	svg{
		width: 100%;
		vertical-align: middle;
	}
	+ span{
		@media #{$s}{
			float: right;
			width: 90%;
		}
		svg{
			@media #{$b2}{
				vertical-align: middle;
			}
		}
	}
}

.follow-the-litter-featured-image{
	min-height: 300px;
	padding: 1em;
	@extend .bgi;
	@media #{$s}{
		float: left;
		width: 50%;
	}
	@media #{$m}{
		width: 65%;
	}
	@media #{$l}{
		width: 70%;
	}
}
.follow-the-litter-featured-content{
	padding: 2em 1em;
	background-color: $dark-grey;
	@media #{$s}{
		float: right;
		width: 50%;
	}
	@media #{$m}{
		width: 35%;
	}
	@media #{$l}{
		width: 30%;
	}
}
.follow-the-litter-featured-content-inner{
	max-width: 550px;
	margin: auto;
	@media #{$b}{
		padding: 1em 1em 2em;
	}
}
.follow-the-litter-featured-description{
	@media #{$b}{
		font-size: 1.2em;
	}
}


