form{
    p{
        color: $grey;
    }
}
label{
    color: $grey;
    margin-top: 1em;
    display: block;
}
input, textarea, select{
    resize: none;
    max-width: 400px;
    width: 100%;
    border: 2px solid $blue-dark;
    padding: 1em;
    color: black;
    @extend .inline-block;
    @extend .tran;

    &[type="submit"], button{
        max-width: 200px;
        @extend .button;
    }
}
select{
    background-color: #fff;
    height: 3.2em; 
}
button{
    @extend .button;

}
.searchform{
    max-width: 400px;
    @extend .ma;
    input{
        @media #{$m}{
            float: left;
        }
    }
    input[type="search"]{
        width: 65%;
        background-color: $light-grey;
    }
    input[type="submit"]{
        float: right;
        width: 30%;
        padding: 1.1em 0.5em 1.2em;
        font-size: 0.8em;
        border-width: 0.2em;
        margin-top: .4em;
    }
}

.hidden-form-wrap {
    padding: 3em 0;
}

.contact-text-wrap {
    max-width: 650px;
    margin: 0 auto;
    padding: 1em;
}

.form-text { 
    margin: 0 auto;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
    width: 98% !important;
    margin-bottom: 1em;
    @media #{$m2}{
        display: inline-block;
    }
}

.form-form {
    padding: 1em;
    @media #{$m2}{
        text-align: center;
    }
}















