// home

// video hero
.video-hero{
	.video-holder {
		height: 100%;
		max-height: 2000px;
		video{
			width: auto;
			height: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.home-hero{
	min-height: 580px;
	text-align: center;
	position: relative;
	width: 100%;
	@media #{$s}{
		height: 600px;
	}
	@media #{$m}{
		height: 700px;
	}
	@media #{$b}{
		height: 800px;
	}	
	&:before, &:after {
		z-index: 1;
		display: block;
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
	&:after{
		background-color: rgba($black, 0.6);
	}
	.video-holder .video-cover{
		background-color: transparent;
	}
	.home-video-content{
		position: relative;
		padding: 0 1em 1em;
		@media #{$s}{
			margin: auto;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
.home-hero-text-sections{
	position: absolute;
	z-index: 2;
	width: 100%;
	max-width: 1100px;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.home-hero-text-section{
	display: block;
	position: absolute;
	max-width: 430px;
	animation-duration: 20s; 
	animation-timing-function: ease;  
	transform-origin: 50% 100%;
	animation-iteration-count: infinite;
	h2, h3{
		color: #fff;
	}
}
.home-hero-text-section-1{
	animation-name: home-hero-text-section-1;
	right: 1em;
	top: 40%;
	text-align: right;
	.home-hero-text-section-number{
		text-align: left;
		margin: 1em auto;
		max-width: 250px;
	}
	.home-hero-text-section-number-description{
		font-weight: normal;
	}
	a{
		margin-right: 1em;
	}
}
.home-hero-text-section-2{
	animation-name: home-hero-text-section-2;
	right: 1em;
	top: 26%;
	text-align: right;
	.home-hero-text-section-number{
		text-align: left;
		margin: 1em auto;
		max-width: 250px;
	}
	.home-hero-text-section-number-description{
		font-weight: normal;
	}
	a{
		margin-right: 1em;
	}
}
.home-hero-text-section-3{
	animation-name: home-hero-text-section-3;
	right: 1em;
	top: 10%;
	text-align: right;
	.home-hero-text-section-number{
		text-align: left;
		margin: 1em auto;
		max-width: 250px;
	}
	.home-hero-text-section-number-description{
		font-weight: normal;
	}
	a{
		margin-right: 1em;
	}
}
.home-hero-down-arrow{
	position: relative;
	top: 90%;
	left: 0%;
	z-index: 2;

	svg {
		&:hover {
			polyline {
				@extend .tran;
				stroke: $blue-light;
			}
		}
	}
}

@keyframes home-hero-text-section-1 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  33% {
    transform: translateX(2em);
    opacity: 0;
  }
  97%{
    transform: translateX(2em);
    opacity: 0;
  }
  100%{
    transform: translateX(2em);
    opacity: 0;
  }
}
@keyframes home-hero-text-section-2 {
  0% {
    transform: translateX(2em);
    opacity: 0;
  }
  33% {
    transform: translateX(2em);
    opacity: 0;
  }
  36% {
    transform: translateX(0);
    opacity: 1;
  }
  63% {
    transform: translateX(0);
    opacity: 1;
  }
  66%{
    transform: translateX(2em);
    opacity: 0;
  }
  100%{
    transform: translateX(2em);
    opacity: 0;
  }
}
@keyframes home-hero-text-section-3 {
  0% {
    transform: translateX(2em);
    opacity: 0;
  }
  66% {
    transform: translateX(2em);
    opacity: 0;
  }
  69% {
    transform: translateX(0);
    opacity: 1;
  }
  94% {
    transform: translateX(0);
    opacity: 1;
  }
  97%{
    transform: translateX(2em);
    opacity: 0;
  }
  100%{
    transform: translateX(2em);
    opacity: 0;
  }
}

// Adopt Header Section

.home-content-adopt-section-wrap {
	padding: 1em; 
	text-align: center;
	@media #{$m}{
		text-align: none; 
		margin: 5em auto;
	}
}

.adopt-text {
	max-width: 750px;
	margin: 0 auto; 
	text-align: left;
}
.adopt-headline { 
	color: $blue-light; 
	margin: auto;
	line-height: 1.5;
	@media #{$m2}{
		text-align: center;
	}
}

// Adopt Image Section

.home-adoptable-pet-of-week {
	width: 50%; 
	float: left; 
	position: relative;
	overflow: hidden; 
	height: 400px; 
	@extend .bgi;
	@extend .tran;  
	
	&:hover {
		.home-adoptable-pet-of-week-inner {
			transform: translateY(0); 
			opacity: 1; 
			background-color: rgba($blue-light, 0.8);

		}
		.pet-of-week-title {
			background-color: transparent; 
		}

	}
}

.home-adoptable-pet-of-week-inner {
	color: #fff;   
	background-color: rgba($blue-light, 0.8); 
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 2em 1em;
	transform: translateY(80%);
	@extend .tran;
	@extend .bgi; 
	@media #{$xs}{
		padding: 3em;
	}
}

.pet-of-week-title {
	opacity: 1; 
	margin: -1em auto 0 auto;
	color: #fff; 
	text-align: center;
	padding: 1rem 0; 
	@extend .tran; 
}

.home-adoptable-pet-of-week-content {
	text-align: center;

	.home-adoptable-pet-content {
		display: inline-block;
		text-align: left;
	}
}

// Adopt Section Responsive

@media #{$m2}{

	.home-content-adopt-section {
		float: none; 
	}

	.adopt-title {
		margin: 0; 
	}

	.home-content-adopt-section-right {
		padding: 0; 
		float: none;
	}

	.home-adoptable-pet-of-week {
		display: block; 
		float: none; 
		width: 100%; 
	}

	.pet-of-week-title {
		display: none; 
	}

	.home-adoptable-pet-of-week-inner {
		transform: translatey(0); 
		background-color: rgba($blue-light, 0.6); 
	}

}

// Events Header Section

.events-header-wrap {
	padding: 1em;
	margin: auto;
	a{
		vertical-align: middle;
	}
}

.events-title {
	color: $orange; 
	@media #{$s}{
		display: inline-block;
		padding-right: 0.5em;
	}
}
// Events Image Section

.events-wrap {

	.fourcol, .sixcol, .eightcol {
		margin: 0; 
		overflow: hidden; 
	}

	.fourcol {
		
		@media #{$m} {
			width: 33.3333333333%;
		} 

	}

	.sixcol {
		
		@media #{$m} {
			width: 50%;
		} 

	}

	.eightcol {
		
		@media #{$m} {
			width: 66.6666666666%;
		} 

	}
}

.events-image-content-inner {
	position: absolute;
	left: 0; 
	top: 0; 
	height: 100%; 
	width: 100%; 
	transform: translateY(100%); 
	background-color: rgba($black, 0.9); 
	padding: 2em; 
	@extend .tran; 
}

.rmt-block {
	margin: 0;  
	@extend .bgi; 
	@media #{$m}{
		height: 503px;

		.image-title {
			color: $orange; 
		}
	}

	@media #{$xs}{
		&:hover {
			.image-title-top {
				display: none; 
			}
			.image-title {
				color: #fff; 
			}
	  	}
	}

	.image-title-top {
		color: #fff; 
		font-size: 40px; 
		text-shadow: 2px 2px $black; 
		position: absolute;
		bottom: 50%; 
		margin-bottom: -60px; 
		left: 50%; 
		margin-left: -420px; 
	}

	&:hover {
		.events-image-content-inner {
			transform: translateY(0); 
		}

		.image-title-top {
			display: none; 
		}

		.image-title {
			opacity: 1; 
			color: $orange; 
		}
	}
}

.surf-block, .holiday-block {
	height: 311px; 
	margin: 0;  
	@extend .bgi; 

	.image-title-top {
		color: #fff; 
		font-size: 40px; 
		text-shadow: 2px 2px $black; 
		position: absolute;
		bottom: 50%; 
		margin-bottom: -130px; 
		left: 50%; 
		margin-left: -200px; 
	}

	&:hover {
		.events-image-content-inner {
			transform: translateY(0); 
		}

		.image-title-top {
			display: none; 
		}

		.image-title {
			opacity: 1; 
			color: $orange; 
		}

		.image-description {
			display: none; 
		}
	}
}

.spring-block {
	margin: 0; 
	overflow: hidden; 
	@extend .bgi; 
	@media #{$m}{
		height: 814px; 
	}
	.image-title-top {
		color: #fff; 
		font-size: 40px; 
		text-shadow: 2px 2px $black; 
		position: absolute;
		bottom: 50%; 
		margin-bottom: -380px; 
		left: 50%; 
		margin-left: -200px; 
	}

	&:hover {
		.events-image-content-inner {
			transform: translateY(0); 
		}

		.image-title-top {
			display: none; 
		}

		.image-title {
			opacity: 1; 
			color: $orange; 
		}
	}
}

// Events Section Responsive

@media #{$m2}{

	.events-title {
		padding: 20px; 
		margin: 0; 
	}

	.events-header-wrap {
		text-align: center; 
	}

	.image-title-top {
		display: none; 
	}

	.surf-block {
		height: auto; 

		&:hover {
			transform: none; 
			
			.image-title-top {
				display: none; 
			}

			.image-description {
				display: block; 
			}

		}
	}

	.holiday-block {
		height: auto; 

		&:hover {
			transform: none; 
			
			.image-title-top {
				display: none; 
			}

			.image-description {
				display: block; 
			}

		}

	}

	.events-image-content-inner {
		transform: translate(0); 
		width: auto; 
		height: auto; 
		position: relative;
	}
}

// Give Section

.content-give-section-wrap-all {
	padding: 1em 1em 5em 1em;
	@extend .bgi; 

	@media #{$m2}{
		background-image: url('') !important;
	}
}

.give-header {
	color: $blue; 
	text-align: center;
	
	@media #{$m}{
		text-align: left; 
		max-width: 1200px;
		margin: 0.5em auto 0.25em;
	}

}

.give-section-content-wrap {
	background-color: $blue-dark; 
	padding-top: 3px;  
	max-width: 1200px;
	margin: auto;
}

.give-section-content {
	background-color: $blue-sky; 
	margin: 0 auto;  
	border: 3px solid $blue-dark; 
	color: $black; 
	text-align: center;

	@media #{$s}{
		width: 33.3333333%; 
		float: left; 
	}
}

.give-section-content-inner {
	&:hover {
		.give-button {
			opacity: 1; 
		}

	} 
}

.give-section {
	padding: 1em;
}

.give-images {

	img { 
		width: 100%; 
	}
}

.amount {
	color: $blue-dark; 
	font-weight: bold; 
	margin: 0 auto; 
	border-bottom: 2px solid $blue-dark; 
	width: 40%; 
}

.give-text {
	padding: 1em; 
	padding-top: 0; 
}

.heart-button {
	max-width: 190px; 
	margin-bottom: 5px;  
}

// Form

.form-wrap {
	text-align: center; 
}

form {
	display: inline-block;
	margin: 0; 
}

.donate-text {
	color: #fff; 
	font-weight: bold; 
	padding-top: 10px;
	@media #{$m}{
		float: left; 
	}
}

input[id="amount"] {
	width: 250px;
	padding: .90em; 
	margin: 1em 0; 
	@media #{$m}{
		width: 350px; 
		margin: 20px;
	}
}


#donate-button {
	width: 200px; 
	@media #{$m2}{
		margin-bottom: 3em;
	}
}