// Press

// the press page
.post-type-archive-press, .tax-custom_cat, .single-press, .archive, .blog{
    .pushy{
        .menu-item-111{
            a{
                @media #{$m}{
                    border-bottom: 3px solid $blue-light;
                }
            }
        }
    }
}
.post-type-archive-press, .tax-custom_cat, .page-template-template-contact-php, .archive, .blog{
    .pushy{
        a{
            @media #{$m}{
                color: #fff;
            }
        }
    }
}
.post-type-archive-press{
    .ajax-load-more-wrap article{
        @media screen and (min-width: 868px) and (max-width: 1280px){
            padding-left: 150px;
        }
    }
}

.press-header{
    .archive-title{
        @media #{$s}{
            padding: 4em 1em 2.5em;
        }
        padding: 3em 1em 1em;
        font-size: 1rem;
        font-weight: normal;
        @extend .bgi;
        @extend .text-center;
        @extend .cfff;
        @extend .m0;
        
        &:after {
            position: absolute;
            content: '';
            background-color: $blue-dark;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
    }
}
.press-archive-title{
    @extend .posr;
    &:before{
        content: '';
        @extend .posa;
        width: 60px;
        height: 50px;
        left: 50%;
        margin-left: -30px;
        top: 40%;
        background-image: url(#{$r}megaphone.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.inner-archive-title {
    position: relative;
    z-index: 1;
}

.press-menu-inner{
    background-color: $light-grey;
    @extend .m0;
    @extend .text-center;
    li, a{
        @extend .dib;
        @media #{$m2}{
            display: block;
            text-align: left;
            
        }
    }
}
.press-menu-inner{
    .current-menu-item{
        a {
          color: $blue-light;
        }
    }
    li{
        &:last-child{
            a{
                border-right: 0;
            }
        }
    }
    a{
        padding: 0.7em 2.2em;
        margin: 0.9em 0;
        border-right: 1px solid $mid-grey;
        font-size: 1.1em;
        @media #{$m2}{
            font-size: 1em;
            padding: 0.2em 2.2em;
        }
        
    
    }
}
.press-menu-mobile-title{
    background-color: $light-grey;
    background-image: url('#{$r}down-arrow.png');
    background-repeat: no-repeat;
    background-position: 110px 1.0em;
    background-size: 0.8em;
    cursor: pointer;
    padding: 0.5em 1em;
    @extend .m0;
}
.press-menu-wrap{
    @extend .tran;
    @media #{$m2}{
        overflow: hidden;
        max-height: 3em;

    }
}
.press-menu-wrap-open{
    @media #{$m2}{
        max-height: 25em;
    }
}

.press-sidebar{
    margin-left: 1em;
    @media #{$m2}{
        display: none;
    }
    .blog-sidebar-inner{
        background-color: transparent;
    }
    .blog-sidebar-title{
        border-bottom: 0;
        padding-bottom: 0;
        
        @extend .bold;
        @extend .mb0;

    }
    a{
        
        font-size: 0.8em;
        font-weight: bold;
        background-image: url(#{$r}side-menu.png);
        background-repeat: no-repeat;
        background-size: 2em;
        padding-left: 2.1em;
        background-position-y: 0.23em;
        
        -webkit-transition: color ease 300ms;
           -moz-transition: color ease 300ms;
            -ms-transition: color ease 300ms;
             -o-transition: color ease 300ms;
                transition: color ease 300ms;
        &.active{
            background-position-y: -5.38em;
            color: $orange;
        }
    }
    li{
        margin: 0.3em 0;
        padding-bottom: 0.3em;
        border-bottom: 1px solid $mid-grey;
        &:nth-child(2){
            a{
                background-position-y: -1.63em;
                &.active{
                    background-position-y: -7.2em;
                }
            }
        }
        &:nth-child(3){
            a{
                background-position-y: -3.45em;
                &.active{
                    background-position-y: -9em;
                }
            }
        }
    }
}
.press-sub-inner{
    margin-top: 0;
}
.press-page-wrap{
    .category-item{
        background-color: $blue;
        text-transform: uppercase;
        padding: 0 0.5em;
        @extend .lh;
        @extend .dib;
    
        @extend .m0;
        a{
            color: #fff;
            font-size: 0.9em;
        }
    }
}
.press-section-wrap{
    > h1{
        font-weight: normal;
        font-size: 2.5em;
        padding-top: 1em;
        @extend .m0;
        
        @extend .text-center;
    }
    .alm-listing{
        max-width: 1000px;
        @extend .ma;
    }
}
.press-section-wrap-grey{
    background-color: $light-grey;
}
.press-subhead{
    text-align: center;
}
.press-article{
    
    .post-info{
        float: none;
        margin-bottom: 0.3em;
        font-size: 0.9em;
    }
    .post-info .vact-t-a{
        margin-left: 0;
    }
    h1{
        @extend .m0;
        a{
            text-decoration: underline;
        }
    }
}
.in-the-news{
    .press-article{
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 0;
    }
    .article-excerpt{
        max-width: 700px;
    }
    .article-image-wrap{
        padding-top: 1em;
    }
}
.press-article-big{
    h1{
        @extend .m0;
    }
}
.press-section-wrap.csr-events{
    .category-item{
        display: none;
    }
    .article-footer .button{
        display: none;
    }
    .normal-article h1{
        @extend .lh;
    }
}
// gvp on taxonomy-custom_cat.php
.custom_cat-title{
    font-weight: normal;
    @media #{$s}{
        font-size: 2.5em;
        margin-bottom: -0.5em;
    }
    @extend .text-center
    
}
.gvp-press-section-wrap{
    max-width: 920px;
    padding-top: 0;
    @media #{$m2}{
        max-width: 660px;
 	}
    @extend .ma;
    .alm-listing{
        zoom: 1;
            &:before, &:after { content: ""; display: table; }
            &:after { clear: both; }
    }
}
.gvp-article{
    border-bottom: 1px solid $light-grey;
    max-width: 330px;
    @media #{$s}{
        width: 50%;
        float: left;
        padding: 3em 1em; 
    }
    @media #{$m}{
        width: 33.33333333%;
    }
    h1{
        height: 3em;
        font-size: 1.1em;
        @extend .lh;
    }
    .vact-t-a{
        margin-left: 0;
    }
    img{
        min-height: 154px;

    }
}
.video-article{
    padding: 3em 1em 0.5em;
    .gvp-article-image-wrap{
        a{
            display: block;
            @extend .posr;
            &:before{
                content: '';
                @extend .posa;
                width: 20%;
                height: 20%;
                background-color: rgba($orange,0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(#{$r}play-circle.png);
                background-position: center;
                background-repeat: no-repeat;
                @extend .tran;
            }
            &:hover{
                &:before{
                    background-color: $orange;
                }
            }
        }
}
    &.gvp-article{
        a:before{
            height: 25%;
            width: 35%;
            background-size: 1.4em;
            background-image: url(#{$r}play.png);
        }
        .center-size-video:before{
            width: 33%;
            height: 33%;
            background-size: 3.6em;
            background-image: url(#{$r}play-circle.png);
            @media #{$xs2}{
                background-size: 2.5em;
            }
        }
    }
    &.featured-video-article{
        a:before{
            background-size: 4em;
            width: 29%;
            height: 31%;
            @media #{$xs2}{
                background-size: 2.5em;
            }
        }
    }
}
.term-video{
    .white-popup{
        max-width: 660px;
    }
}
.gallery-article{
    .gvp-article-image-wrap{
        @extend .posr;
        a{
            display: block;
        }
    }
    .gallery-count{
        bottom: 0;
        left: 0;
        padding: 0.3em 0.5em 0.3em 1.8em;
        background-color: rgba($orange,0.8);
        background-image: url(#{$r}camera.png);
        background-size: 0.9em;
        background-position: 0.3em center;
        background-repeat: no-repeat;
        @extend .cfff;
        @extend .bold;
        @extend .posa;
        @extend .dib;
    }
    
}
.print-article, .gallery-article{
    .article-footer{
        min-height: 144px;
    }
}
.sub-featured-video{
    .article-footer{
        min-height: 111px;
    }
}

// featured video on taxonomy-custom_cat.php
.featured-video-article{
    border-bottom: 1px solid $light-grey;
    padding-bottom: 3em;
    @media #{$m}{
        margin-top: 2em;
    }
    @media #{$s2}{
        max-width: 450px;
        margin: auto;
    }   
    .gvp-article-content-wrap{
        margin-left: 0;
        @media #{$m}{
            padding-left: 1em;
        }
        @media #{$m2}{
            padding: 0.75em 0;
        }
        h1{
            font-size: 1.5em;
            font-weight: normal;
            @extend .lh;
        }
    }
    .vact-t-a{
        margin-left: 0;
    }
}
.featured-video-title{
    font-weight: normal;
    color: $blue-light;
    @extend .lh1;
    
    @extend .m0;
    @extend .sans-serif;
    @extend .posr;
    @extend .pb05;
    @extend .mb1;
    @media #{$m}{
        font-size: 1.8em;
    }
    &:after{
        content: '';
        @extend .posa;
        width: 50px;
        height: 1px;
        background-color: #000;
        left: 0;
        bottom: -0.3em;
    }
}
.sub-featured-video{
    max-width: 450px;
    padding-bottom: 2em;
    @media #{$s}{
        width: 50%;
    }    
}

// post-formats/format-gallery.php
.gallery-gallery{
    @media #{$s2}{
        text-align: center;
    }
    img{
        @extend .dib;
    }
}

// single-format-gallery
.single-format-gallery{
    article{
        @extend .mw-710;
        @extend .ma;
    }
}
.single-press{
    .author-area{
        @media #{$s}{
            padding: 2em 3em;
        }
        @extend .mw-710;
        @extend .ma;
    }
}

//bottom contact on archive pages
.bottom-contact-wrap{
    background-color: $blue-light;
    
}
.bottom-contact{
    max-width: 525px;
    @extend .ma;
    @extend .mb1;
    h2{
        font-weight: normal;
        
        @extend .fz2;
        @extend .text-center;
        @extend .mb05;
        @media #{$s}{
            font-size: 2.5em;
        }
    }
    form{
        max-width: 460px;
        @extend .ma;
        @extend .mt2;
    }
}















