// Top section

.page-header-wrap {
	padding: 3em;
	background-color: $blue-dark;
	position: relative;
	@extend .bgi;
	.page-template-template-adopt-a-pet & {
		background-color: $blue;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($blue-dark, 0.8);
		.page-template-template-adopt-a-pet & {
			background-color: rgba($blue, 0.8);
		}
	}
}
.page-header{
	position: relative;
	z-index: 1;
	color: #fff;
	text-transform: uppercase;
	max-width: 1200px;
	margin: auto;
	.page-header-wrap-big & {
		padding: 2.5em 0 0.5em;
	}
	.page-header-wrap-child &{
		padding: 2em 0 0.5em;
	}
	.page-header-wrap-grandchild & {
		padding: 1.25em 0 0.5em;
	}
}

// Big Hero

.content-big-hero {
	padding: 1em;
	position: relative;
	@extend .bgi;

	&:after {
		@media #{$b2}{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $blue-dark;
		opacity: 0.5;
		}
	}
}

.content-big-hero-title { 
	color: #fff; 
	font-variant: normal;  
	text-shadow: 1px 1px 2em $black; 
	z-index: 1;
	position: relative;
	@media #{$l}{
		padding: 7em 1em 0 1em;
	}
}

// Text Block

.text-block {
	margin: 0 auto; 
	padding: 1em; 
	@media #{$m2}{
		max-width: 500px;
	}
}

.text-block-editor-single {

	// p:nth-child(3) {
	// 	color: $blue-light;
	// 	font-weight: bold;
	// 	@extend .medium-title;
	// }
}

// Divider

.content-divider {
	padding: 2em 0;
	width: 100%;
} 

// Space

.content-space {
	padding: 1em 0; 
}

// Biggest Title

.content-biggest-title {

	.biggest-title {
		padding: 1em !important; 
		text-align: left; 
		margin: 0 auto;

		@media #{$m2}{
			text-align: center !important;
		}

		&.biggest-title-light-blue {
			color: $blue-light; 
		}

		&.biggest-title-orange {
			color: $orange; 
		}

		&.biggest-title-blue {
			color: $blue; 
		}

		&.biggest-title-left {
			text-align: left;  
		}

		&.biggest-title-center {
			text-align: center;
		}

		&.biggest-title-right {
			text-align: right; 
		}
	}

}

// Big Title
.content-big-title {

	.big-title { 
		padding: 1em !important; 
		margin: 0 auto;
		text-align: center; 

		@media #{$m2}{
			text-align: center !important;
		}

		&.big-title-light-blue {
			color: $blue-light; 
		}

		&.big-title-orange {
			color: $orange; 
		}

		&.big-title-blue {
			color: $blue; 
		}

		&.big-title-left {
			text-align: left;  
		}

		&.big-title-center {
			text-align: center;
		}

		&.big-title-right {
			text-align: right; 
		}
		
	}

}

// Sub Title

.content-sub-title .sub-title {
	padding: 1em; 
	text-align: center;  
	margin: 0 auto;
	color: $black; 
	&.sub-title-light-blue {
		color: $blue-light; 
	}

	&.sub-title-orange {
		color: $orange; 
	}

	&.sub-title-blue {
		color: $blue; 
	}

	&.sub-title-left {
		text-align: left;  
	}

	&.sub-title-center {
		text-align: center;
	}

	&.sub-title-right {
		text-align: right; 
	}
}

// Image Block

.content-image-block-flexible {
	position: relative;
	min-height: 390px;
	overflow: hidden;
	border: 1px solid #fff;
	&:hover{
		.content-image-block-flexible-inner{
			transform: translateY(0);
			opacity: 1;  

			.block-text, .block-button-text{
				opacity: 1; 
			}
		}
	}
	&.col-4{
		float: left;
		width: 33.33333333333333%;
	}
	&.col-6{
		float: left;
		width: 50%;
	}
}
.block-text{
	max-width: 500px;
}


.content-image-block-flexible-inner {
	color: #fff;   
	
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 0 2em 2em 2em;
	transform: translateY(70%);
	@extend .tran;
	@extend .bgi; 
	@media #{$b} {
		background-color: rgba($blue, 0.75);
	}

	.block-text, .block-button-text{
		opacity: 0; 
		@extend .tran; 
	}
}

.image-block-responsive {
  
	@media #{$b2} {
		.content-image-block-flexible {
			float: none; 
			width: 100%; 
			max-width: 500px;  
			margin: 0 auto; 
			&:before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba($blue, 0.75);
			} 
		}

		.content-image-block-flexible-inner {
			transform: translateY(0%);
			height: auto;
			position: relative;
			padding-top: 0.5em;

		}

		.block-text, .block-button-text{
			opacity: 1; 
		}
  }

}

// Image Block Small

.content-image-block-small-flexible {
	position: relative;
	height: 334px;
	overflow: hidden;
	@media #{$b}{
		a{
			opacity: 0;
		}
	}
	
	&.image-block-small-orange {
		background-color: rgba($orange, 0.8);
	}

	&:hover {
		.content-image-block-small-flexible-inner{
			transform: translateY(33%);
			opacity: 1;  

			.small-block-text {
				opacity: 1; 
			}
		}
		a{
			opacity: 1;
		}
	}
	&.col-4 {
		float: left;
		width: 33.33333333333333%;
	}
	&.col-6{
		float: left;
		width: 50%;
	}
}

.content-image-block-small-flexible-inner {
	color: #fff;   
	background-color: rgba($blue, 0.8);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 1em;
	transform: translateY(70%);
	@extend .tran;
	@extend .bgi; 

	.small-block-title {
		opacity: 0; 
		@extend .tran; 
	}
}

.image-block-small-responsive {
  
	@media #{$b2} {
		.content-image-block-small-flexible {
			float: none; 
			width: 100%; 
			max-width: 500px; 
			margin: 0 auto; 
		}

		.content-image-block-small-flexible-inner {
			transform: translateY(0);
			height: auto;
		}

		.small-block-text {
			opacity: 1; 
		}
    }

}

// Half Image Match Height

.half-image-editor {
	margin: 0 auto; 
	font-weight: 500;
}

.content-half-image-match-height {
	padding: 2em; 
	@extend .bgi; 

	@media #{$b} {
		padding: 3em 2em 2em 2em;
		width: 50%; 
		float: left;
	}

	

	.content-half-image-match-height-content-bg-blue & {
		background-color: $blue; 
	}

	.content-half-image-match-height-content-bg-white & {
		background-color: #fff; 
	}
}

.content-half-image-match-height-image{
	@extend .bgi;
	width: 100%;

	@media #{$b}{
		float: left;
		width: 50%;
		.content-half-image-match-height-content-right & {
			float: right;
		}
	} 
}

// Half Image

.content-half-image-section-wrap {
	margin: 0 auto; 
	padding: 1em; 
	img{ 
		margin: auto;
	}
}

.half-editor {
	max-width: 400px;
	margin: 0 auto; 
}

.content-half-image {
	padding: 1em; 
	@extend .bgi; 
	.content-half-image-content-right & {
		float: right; 
	}
}

// Dark Block

.dark-block-image {
	position: relative;
	z-index: 1; 
	max-width: 960px;
	margin: auto
}

.content-dark-block {
	padding: 2em 1em; 
	position: relative;
	@extend .bgi; 

	&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: $black; 
		content: ""; 
		opacity: 0.7; 
	}
	.text-section-one { 
		color: $white; 
	}

	.text-section-two { 
		color: $orange; 
	}

	.text-section-three { 
		color: $white; 
		
	} 
}

.dark-block-headline {
	color: $orange; 
}

.dark-block-button {
	float: right; 
}

.dark-block-responsive {  
	@media #{$b2}{

		* {
			margin: 0 auto;
			text-align: center; 
		}

		.dark-block-button {
			margin-top: 1em;
			float: none;   
	    }
   }
}

// Contact Area 

.content-contact-area {
	max-width: 1000px; 
	background-color: $blue;  
	border: 3px solid $blue; 
	border-bottom-width: 40px; 
	margin: 0 auto;

	@media #{$m}{
		margin: 4em auto; 
	}

}

.contact-area-title {
	color: $white; 
	text-align: center; 
	margin: 0; 
	padding: .25em; 
}

.contact-area-editor-one {
	float: left;
	width: 50%; 
	background-color: $blue-sky;
	border: 3px solid $blue; 
	text-align: left;  
	padding: 0 1em 1em 2em !important; 
	color: $blue; 
}


.contact-area-button-wrap {
	background-color: $orange;
	padding: 42px 0; 
	text-align: center;  
}

.contact-area-right {
	float: left;
	width: 50%; 
	background-color: $blue-sky;
	border: 3px solid $blue; 
	text-align: center;  
	font-weight: bold; 
	color: $blue; 
}

.content-contact-area-responsive {  

	@media #{$xs2}{
		.contact-area-editor-one {
			float: none; 
			width: 100%; 
			text-align: center; 
		}

		.contact-area-right {
			float: none; 
			width: 100%; 
			padding: 10px; 
		}

		.contact-area-button {
			float: none; 
			margin: 0 auto; 
			width: 100%;  
		}
    }

	@media #{$s}{
		.contact-area-editor-one {
			float: left;
			width: 50%; 
			background-color: $blue-sky;
			border: 3px solid $blue; 
			text-align: left;  
			padding: 0 1em 1em 1em; 
			color: $blue; 
		}

		.contact-area-right {
			float: left;
			width: 50%; 
			background-color: $blue-sky;
			border: 3px solid $blue; 
			text-align: center;  
			font-weight: bold; 
			color: $blue; 
		}
    }
}

// Sub Page Top Section

.content-sub-page-top-section {
	position: relative;
	margin: 0 auto; 
	@extend .bgi;  

	&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: $black; 
		content: ""; 
		opacity: 0.7; 
	}
}

.sub-page-image {
	position: relative;
	z-index: 1; 
}

.sub-page-text-sections {
	padding: 2em 2em 6em 2em;  
	@media #{$m2}{
		padding: 4em;
	}
	.sub-text-section-one,
	.sub-text-section-two,
	.sub-text-section-three {
		color: #fff; 
		margin: 1em; 

		@media #{$m2}{
			margin: 0;
		}
	}

}

.content-sub-page-top-section-responsive {  

	@media #{$m2}{
		.sub-text-section-one, .sub-text-section-two, .sub-text-section-three  {
			width: 100%; 
			text-align: center;
		}

		.sub-text-section-two {
			margin: 1em auto; 
		}
    }
}

// Colored Bar

.content-colored-bar-wrap {
	margin: 0 auto; 
	padding: 1em; 
	background-color: $orange; 
	&.content-colored-bar-not-full-width {
		max-width: 950px; 
	}
	&.colored-bar-blue {
		background-color: $blue; 
	}
	&.colored-bar-light-blue {
		background-color: $blue-light; 
	}
}

.colored-bar-headline {
	text-align: center; 
	margin: 0 auto; 
	color: #fff; 
}

.colored-bar-button-section {
	margin: 1em auto; 
	text-align: center; 
}

// Light Blue Text Area

.light-blue-text-area {
	background-color: $blue-sky; 
	margin: 0 auto; 

	p:nth-child(1) {
		font-weight: bold;
		color: $blue-dark;
		font-size: 18px;
		@media #{$m}{
			font-size: 21px; 
	    }
	}

	&.light-blue-editor-one {
		float: left; 
		padding: 1em;
	}
	&.light-blue-editor-two {
		float: right; 
		padding: 1em;
	}
}

.light-blue-editor {
	padding: 1em; 
}
.light-blue-text-area-not-full-width{
	max-width: 950px;
}

// Slider

.content-slider {
	position: relative;
	margin: 0 auto; 
	img{
		margin: auto;
		width: 100%;
	}
}

.owl-controls {
	position: absolute;
	width: 100%;  
	bottom: 0; 
	color: #fff;  
}

.slider-title-bar-color {
	background-color: $black; 
	margin-top: -16px;
	&.slider-orange {
		background-color: $orange; 
	}
	&.slider-blue {
		background-color: $blue; 
	}
}

.slider-text {
	color: #fff; 
	padding: 1em; 
	margin: 0 auto; 
	text-align: center;
}

.content-slider-responsive {  

	@media #{$xs2}{

		.slider-text {
			padding: .5em;   
		}

    }
}

// Video
.content-video-wrap{
	position: relative;
}
.content-video {
	position: relative;
	margin: 0 auto;   
}
.content-video-placeholder {
	position: relative;
	z-index: 2; 
	@extend .tran;
	@extend .bgi;
	&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: $black; 
		content: ""; 
		opacity: 0.7; 
	}
}
.play-button-svg {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content-video-embed{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.o0{
	opacity: 0;
}
.z0{
	z-index: 0;
}

.content-video-title-bar-color {
	background-color: $blue;  
	position: relative;
	z-index: 1; 

	h3 {
		color: #fff;
		padding: 1em;
		margin: 0 auto; 
		text-align: center;
	} 

	&.video-orange {
		background-color: $orange; 
	}
	&.video-black {
		background-color: $black; 
	}
}

.content-video-responsive {  

	@media #{$xs2}{
		.content-video-title-bar-color h3 {
			padding: .5em; 
		}

		.video-photo {
			height: 100px; 
		}

		.play-button-svg {
			margin: 0 auto; 
			width: 100%;
			padding: 50px; 
		}
    }
}

// BG Image Text

.content-bg-image-text {
	position: relative;
	margin: 0 auto; 
	color: $white; 
	padding: 2em; 
	@extend .bgi; 

	p:nth-child(1), p:nth-child(4), p:nth-child(7) {
		font-weight: bold;
		@extend .small-medium-title
	}

	*{
		color: #fff;
	}

	&.content-bg-image-white {
		color: $blue;
		*{
			color: $blue;
		}

		&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: #fff; 
		text-shadow: 2px 2px black; 
		content: ""; 
		opacity: 0.8; 
		}

    }

	&:after {
		position: absolute;
		bottom: 0;
		top: 0; 
		left: 0;
		right: 0; 
		background-color: $blue; 
		content: ""; 
		opacity: 0.8; 
	}
}

.bg-image-text-editor {
	z-index: 1; 
	position: relative;
	color: none;
}

// Border Text

.content-border-text {
	max-width: 960px;
	margin: 1em auto; 
	padding: 1em;  
	border: 2px solid $blue-sky; 
	border-radius: 0.35em; 
	@media #{$s}{
		border-width: 5px;
	}

	&.border-color-blue {
		border-color: $blue; 
	}
	&.border-color-blue {
		border-color: $blue-light; 
	}
	&.border-color-orange {
		border-color: $orange; 
	}

	.border-text-header {
		color: $blue; 
		@media #{$xs2}{
			margin: 0 auto;  
		}
	}

	.border-text-list-items li {
		font-weight: bold; 
	}
}

.border-text-editor {
	color: $blue;
 
	.border-text-blue & {
		color: $blue; 
	}
	.border-text-light-blue & {
		color: $blue-light; 
	}
	.border-text-orange & {
		color: $orange; 
	}
}

// Dark Sections

.content-dark-section {
	position: relative;
	height: 304px;
	overflow: hidden;
	width: 33.3333333333%; 
	float: left; 
}


.content-dark-section-inner {
	color: #fff;    
	background-color: rgba($black, 0.9);
	position: absolute;
	border: 3px solid white; 
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 1.5em;
	@extend .bgi; 

	.dark-section-title {
		color: #fff; 
		text-align: center; 
		padding: 0 1em; 
		margin: 0 auto; 
	}

	.dark-section-editor {
		color: #fff; 
		text-align: center; 
		margin: 0 auto;  
		padding: 0; 
	}
}

.content-dark-section-responsive {

	@media #{$l2}{

		.content-dark-section {
			float: none;  
			width: 100%; 
			max-width: 500px; 
			margin: 0 auto; 
		}
    }

}

// Images Wrap
.content-images-wrap{
	img{
		margin: auto;
	}
}

// Programs and Services Sidebar 

.content-bg-image-text.content-bg-image-white * {
	color: #000;
}









