.button{
    font-family: $button-font;
    padding: 0.5em 1.0em;
    text-align: center;
    background-color: $orange;
    color: #fff;
    border: 2px solid $orange;
    line-height: 1.2;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0.15em;
    &:hover{
        color: $orange;
        background-color: #fff;
    }
    
    &.button-smaller{
        font-size: 0.8em;
    }
}
.heart-button{
    font-size: em(16);
    @media #{$m2}{
        padding: 0.15em 0.5em;
    }
    path, div{
        @extend .tran;
    }
    div{
        color: #fff;
        float: right;
        width: 70%;
        @media #{$m2}{
            padding-top: 0.1em;
        }
    }
    > svg{
        max-width: 2.5em;
        float: left;
        width: 20%;
    }
    &:hover{
        path{
            fill: $orange;
        }
        div{
            color: $orange;
        }
    }
}
.button-wide{
    padding: 0.5em 2em;
}
.button-right-border{
    background-color: #fff;
    overflow: hidden;
    position: relative;
    &:hover{
        color: #fff !important;
        &:before{
            transform: translateX(0%);
        }
    }
    &:before{
        content: '';
        position: absolute;
        top: -1%;
        right: 0;
        width: 100%;
        height: 105%;
        background-color: #fff;
        transform: translateX(calc(100% - 0.5em));
        @extend .tran;
    }
    &.blue{
        color: $blue;
        border-color: $blue;
        &:before{
            background-color: $blue;
        }
    }
    &.blue-light{
        color: $blue-light;
        border-color: $blue-light;
        &:before{
            background-color: $blue-light;
        }
    }
    &.orange{
        color: $orange;
        border-color: $orange;
        &:before{
            background-color: $orange;
        }
    }
    &.white{
        color: #fff;
        border-color: #fff;
        background-color: transparent;
        &:hover{
            color: $orange !important;
        }
        &:before{
            background-color: #fff;
        }
    }
    span{
        position: relative;
    }
}

.button-arrow {
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    padding: 0.4em 1.25em;
    position: relative;
    border-right: none;
    @extend .tran;
    &:after,
    &:before {
        display: block;
        content: '';
        position: absolute;
        left: 100%;
        @extend .tran;
    }
    span{
        @extend .tran;
    }

    &:after {
        width: 18px;
        bottom: -2px;
        border-bottom: 2px solid;
    }

    &:before {
        width: 9px;
        height: 9px;
        bottom: -7px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        margin: 0 0 0 10px;
        transform: rotate(-45deg);
        z-index: 2;
        left: 99%;
    }
    .arrow-button-text{
        position: relative;
    }
    .arrow-button-right-border{
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
            height: 80%;
            background-color: #fff;
        }
        &:before{
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            @extend .tran;
        }
    }

    &:hover {
        background-color: transparent;
        .arrow-button-right-border{
                &:before{
                    width: 100%;
                }
            }
    }
    &.blue {
        color: $blue;
        border-color: $blue;
        .arrow-button-right-border{
            &:after,
            &:before{
                background-color: $blue;
            }
        }
        &:after,
        &:before {
            color: $blue;
        }


        &:hover {
            color:#fff;
            border-color: $blue;
            span{
                color :#fff;
            }
        }
    }
    &.white {
        color: #fff;
        border-color: #fff;
        .arrow-button-right-border{
            &:after,
            &:before{
                background-color: #fff;
            }
        }
        &:after,
        &:before {
            color: #fff;
        }

        &:hover {
            color: $blue;
            border-color: #fff;
            span{
                color: $blue;
            }
        }
    }
    &.orange {
        color: $orange;
        border-color: $orange;
        .arrow-button-right-border{
            &:after,
            &:before{
                background-color: $orange;
            }
        }
        &:after,
        &:before {
            color: $orange;
        }


        &:hover {
            color:#fff;
            border-color: $orange;
            span{
                color :#fff;
            }
        }
    }
    &.dark-grey {
        color: $dark-grey;
        border-color: $dark-grey;
        .arrow-button-right-border{
            &:after,
            &:before{
                background-color: $dark-grey;
            }
        }
        &:after,
        &:before {
            color: $dark-grey;
        }


        &:hover {
            color:#fff;
            border-color: $dark-grey;
            span{
                color :#fff;
            }
        }
    }
}

