form{
    // text-align: center;
    // padding: 1em;
    p{
        color: $grey;
    }
}
label{
    color: $grey;
    margin-top: 1em;
    display: block;
}
input, textarea, select{
    background-color: #fff;
    resize: none;
    max-width: 400px;
    width: 100%;
    border: 0;
    border-radius: 0.3em;
    // border-bottom: 1px solid $grey;
    // border-right: 1px solid $grey;
    // -webkit-box-shadow: 1px 1px 1px 0px rgba($grey, 0.75);
    // -moz-box-shadow:    1px 1px 1px 0px rgba($grey, 0.75);
    // box-shadow:         1px 1px 1px 0px rgba($grey, 0.75);
    padding: 1em;

    @extend .inline-block;
    @extend .tran;

    &:hover{
        // -webkit-box-shadow: 1px 1px 1px 0px rgba($grey, 0.99);
        // -moz-box-shadow:    1px 1px 1px 0px rgba($grey, 0.99);
        // box-shadow:         1px 1px 1px 0px rgba($grey, 0.99);
        // outline: none;
    }

    &:focus{
        //border-bottom: 1px solid lighten($blue, 20%);
        // -webkit-box-shadow: 1px 1px 1px 0px rgba(lighten($blue, 20%), 0.75);
        // -moz-box-shadow:    1px 1px 1px 0px rgba(lighten($blue, 20%), 0.75);
        // box-shadow:         1px 1px 1px 0px rgba(lighten($blue, 20%), 0.75);
        // outline: none;
    }
    &[type="submit"], button{
        // box-shadow: 0 0 0 #000 !important;
        @extend .button;
    }
}
select{
    background-color: #fff;
    height: 3.2em; 
    // width: 6em;
}
button{
    @extend .button;
}
.searchform{
    max-width: 400px;
    @extend .ma;
    input{
        float: left;
    }
    input[type="search"]{
        width: 65%;
        background-color: $light-grey;
    }
    input[type="submit"]{
        float: right;
        width: 30%;
        padding: 1.1em 0.5em 1.2em;
        font-size: 0.8em;
        border-width: 0.2em;
        border-radius: 0.3em;
    }
}