$mobile-stuff-color: #fff;
$mobile-hamburgerler-color: #fff;

.pushy a{
    display: block;
    color: $blue;
    text-decoration: none;
    
}

.top-nav-wrap .top-nav-wrap:after{
    @extend .tran2;
}
#container{
    -webkit-transition: all ease 300ms;
      -moz-transition: all ease 300ms;
      -ms-transition: all ease 300ms;
      -o-transition: all ease 300ms;
      transition: all ease 300ms;
}
@media #{$m2}{
    .inner-nav-wrap{
        background-color: #fff;
    }
    .top-nav-wrap{
        opacity: 0;
        position: fixed;
        height: 0%;
        width: 100%;
        background-color: #fff;
        color: #fff;
        // text-align: center;
        left: 0;
        top: 0;
        z-index: 10000; 
        overflow: hidden;
        .admin-bar &{
            top: 36px;
            @media screen and (max-width: 782px){
                top: 46px;
            }
        }
    }
    .menu-item-has-children{
        position: relative;
        span{
            color: #fff;
            position: absolute;
            right: 0;
            top: 0em;
            font-weight: bold;
            font-size: 3em;
            z-index: 2;
            cursor: pointer;
            padding: 0 0.5em;
            @include transitionDelay(500ms);
            .menu-active & {
                color: $blue;
            }
        }
    }
    .sub-menu{
        display: none;
        font-size: 0.9em;
        padding-left: 1.75em;
        margin: auto;
    }
    #container{
        opacity: 1;
    }
    .menu-active{
        overflow: hidden;
        .top-nav-wrap{
            opacity: 1;
            height: 100%;
            overflow-y: scroll;
            // @media screen and (min-height: 850px){
            //     overflow-y: hidden;
            // }
        }
        #container{
            opacity: 0;
        }
    }
    .home-link{
        padding-top: 0;
        color: #000;
        @include transitionDelay(50ms);
        display: inline-block;
        span{
            font-weight: bold;
        }
    }
    .home-nav, .top-nav{
        margin: 0;
        a{
            font-weight: bold;
            color: #fff;
            line-height: 1;
            padding: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            border-top: 1px solid rgba(0, 0, 0, 0);
            font-size: 1.2em;
            @include transitionDelay(500ms);
            .menu-active &{
                border-bottom-color: rgba(0, 0, 0, .1);
                border-top-color: rgba(255, 255, 255, .1);
                color: $blue;
                line-height: 1.5;
                padding: 1em;
            }
        }
    }

}
.menu-active{
    @media #{$m2}{
        overflow: hidden;
    }
}

//navbar
.nav-bar{
    @media #{$m2}{
        position: relative;
        overflow: hidden;
        padding: 1em 0.5em;
        z-index: 1;
        width: 100%;
        background-color: $blue;
        border-bottom: 1px solid $blue;
    }
    .home-link{
        width: 70px;
        // height: 70px;
        position: absolute;
        left: 50%;
        top:10%;
        z-index: 20;
        margin-left: -45px;
        // background-image: url('#{$r}logo.svg');
        // background-repeat: no-repeat;
        // background-position: center 0;
        // background-size: 130px auto;
        // background-position: 50%;
    }
}
.nav-bar-outside{
    @media #{$m2}{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
}
.nav-bar-outside{
    @media #{$m2}{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
}
//mobile hamburgerler
.bt-menu-trigger {
    position: relative;
    top: 2px;
    display: block;
    width: 30px;
    height: 50px;
    cursor: pointer;
    z-index: 10001;

    span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: $mobile-hamburgerler-color;
        font-size: 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @extend .tran;
        @extend .tran-delay;

        &:before, &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $mobile-hamburgerler-color;
            content: '';
            @extend .tran;
            @extend .tran-delay;
        }
        &:before {
            -webkit-transform:  translateY(-250%);
            -moz-transform:  translateY(-250%);
            -ms-transform:  translateY(-250%);
            -o-transform:  translateY(-250%);
            transform:  translateY(-250%);
        }
        &:after {
            -webkit-transform: translateY(250%);
            -moz-transform: translateY(250%);
            -ms-transform: translateY(250%);
            -o-transform: translateY(250%);
            transform: translateY(250%);
            
        }
    }
}
.menu-active .bt-menu-trigger span {
    background-color: transparent;
    &:before {
        -webkit-transform: translateY(0) rotate(45deg);
        -moz-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
        -o-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    &:after {
        -webkit-transform: translateY(0) rotate(-45deg);
        -moz-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
        -o-transform: translateY(0) rotate(-45deg);
        transform: translateY(0) rotate(-45deg);
    }
}