// /*********************
// NAVIGATION STYLES
// *********************/
@media #{$m2}{
    body{
        margin-top: em(65);
    }
}
@media #{$m}{
    body{
        margin-top:  em(66);
        @media #{$b}{
            margin-top: em(72);
        }
        @media #{$l}{
            margin-top: em(81);
        }
    }
    .main-navigation{
        left: 0 !important;
        top: 0;
        border: 0;
        z-index: 9999;
        position: fixed;
        width: 100%;
        font-size: 0.8em;

        .admin-bar & {
            top: 32px;
        }
        @media #{$b}{
            font-size: 0.9em;
        }
        @media #{$l}{
            font-size: 1em;
        }
        @media #{$xl}{
            font-size: 1.2em;
        }
        ul{
            margin:0;
        }
        .nav{
            margin: auto;
            position: relative;
            z-index: 15;
        }
        li {

            float: left;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            
            a{
                padding: 1.8em 1.0em;
                position: relative;
                color: #fff;
                text-transform: uppercase;
                &:after{
                    content: '';
                    position: absolute;
                    left: 5%;
                    bottom: 1.35em;
                    width: 90%;
                    height: 1px;
                    background-color: #fff;
                    opacity: 0;
                    transform: scale(0);
                    transform-origin: 0%;
                }
                
                @media #{$l}{
                    padding: 1.8em 1.5em; 
                }
            }
            &.menu-item-has-children{
                position: relative;
                z-index: 99999;
                a{

                }
                .sub-menu{
                    display: none;
                    position: absolute;
                    padding-bottom: 0.5em;
                    a{
                        color: rgba(255,255,255,0.8);
                        text-transform: inherit;
                        &:after{
                            bottom: 0;
                            background-color: rgba(#fff, 0.5);
                        }
                    }
                    .sub-menu{
                        left: 100%;
                        top: 0;
                        border-left: 1px solid rgba(#fff, 0.25);
                    }
                }
                &:hover{
                    a{
                        margin-bottom: 0;
                        // color: #fff;
                    }
                    
                    > .sub-menu{
                        display: block;
                        position: absolute;
                        z-index: 999999;
                        background-color: $blue;
                        margin-top: 0em;
                        margin-left: 0em;
                        width: 195px;
                        //height: 150px;
                        
                        li{
                            float: none;
                            display: block;
                            &:first-child{
                                a{
                                    margin-top: 0;
                                }
                            }
                            a{
                                padding: 0.7em 0.5em 0.4em;
                                background-color: transparent;
                                margin: 0;
                                font-size: 0.85em;
                                &:hover{
                                    padding-left: 0.9em;
                                }
                            }
                        }
                        a:after{
                            border: none;
                        }
                    }
                } 
            } //end &.menu-item-has-children
            
        } /* end .menu ul li */

        /* highlight current page */
        li.current-menu-item,
        li.current_page_item,
        li.current-page-ancestor,
        li:hover {
            
            a {
                &:after{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }  /* end current highlighters */
    } 
    
}
.inner-nav-wrap{
    // max-width: 1440px;
    padding: 0 1em;
    margin: auto;
    z-index: 9;
    position: relative;
    @media #{$m}{
        background-color: $blue;
    }
}
.top-menu{
    @media #{$m}{
        width: 80%;
        float: left;
    }
}
.top-nav{
    @media #{$m}{
        float: right;
    }
}
.top-nav-button{
    width: 25%;
    float: right;
    margin-top: -2.5em;
    @media #{$m}{
        margin-top: 1em;
        width: 15%;
    }

    svg {
        vertical-align: bottom;
    }
}

.pushy li a:after{
    @extend .tran;
}
.pushy {
    
    @extend .tran;
    *{
        vertical-align: top;
    }
    
}
.home-link{
    @media #{$m}{
        top: 0em;
        left: 0.5em;
        position: absolute;
        max-width: 100px;
        padding: 0.75em;
        background-color: $blue-darker;
        
    }
    @media #{$b}{
        left: 1.5em;
        max-width: 130px;
        padding: 1em;
    }
}
.headroom {
    transition: transform 200ms linear;
    -webkit-transform: translate3d(0,0,0); 
       -moz-transform: translate3d(0,0,0); 
        -ms-transform: translate3d(0,0,0); 
         -o-transform: translate3d(0,0,0); 
            transform: translate3d(0,0,0); 
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-200%);
}


/////////////////////////////////////
//////////// sidebar nav ////////////
/////////////////////////////////////

.breadcrumbs {
    @media #{$m2}{
        display: none;
    }
}

.sidebar {
    @media #{$m2}{
        text-align: center;
    }
}

.toggle-side-menu {
    @media #{$m2}{
        padding: 1em 0;
        background-color: $blue-light;
        font-weight: bold;
        text-align: center;
    }

    &:hover {
        cursor: pointer;
    }
}

.sidebar-menu {
    @media #{$m2}{
    }
}

@media #{$m}{
  body{
    max-width: 1439px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  body.page-template-template-programs-services:before, body.page-template-template-adopt:before, body.page-template-template-about:before {
    background-color: $light-grey;
    content: "";
    display: block;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    z-index: 0; /* Fixes flashing bug with scrolling on Safari */
    @media screen and (min-width: 1440px){
        position: absolute;
    }
    @media #{$l}{
        width: 320px;
    }
  }

  .site {
    margin: 0 auto;
    max-width: 1403px;
  }

  .sidebar {
    float: left;
    margin-right: -100%;
    position: relative;
    width: 230px;
    padding-left: 0;
    @media #{$l}{
        width: 320px;
    }
  }

  .secondary {
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
  }

  .site-main {
    padding: 8.3333% 0;
  }

  .site-content {
    display: block;
    float: left;
    margin-left: 230px;
    width: calc(100% - 230px);
    padding-bottom: 3em;
    @media #{$l}{
        margin-left: 320px;
        width: calc(100% - 320px);
    }
  }
}
.site-content{
    background-color: #fff;
}
.sidebar-menu{
    text-transform: uppercase;
    padding-right: 1em;
    @media #{$l2}{
        font-size: 0.9em;
    }
    h3{
        background-color: $mid-grey;
        color:#fff;
        font-size: 1.2em;
        display: inline-block;
        padding: 0.5rem 4rem 0.5rem 2rem;
        margin: 0.5em 0;
        @media #{$m2}{
            padding-right: 2em;
        }
    }
    ul{
        margin: 0;
    }
    li{
        margin: 1em 0;
    }
    a{
        border-left: 0.25em solid transparent;
        padding-left: 0.25em;
        display: inline-block;
        &:hover{
            color: $blue-light;
        }
    }
    > ul > li > .sub-menu{
        padding-left: 2rem;
        font-weight: bold;
        // ul{
        //     display: none;
        // }

        @media #{$m2}{
            padding-left: 0;
        }
        
        >li > a + .sub-menu{
            font-weight: normal;
            padding-left: 1em;
        }
    }
    .current-menu-item {
        > a{
            color: $blue-light;
            border-color: $blue-light;
        }
    }
}
.sub-menu .sub-menu{
    display: none;
}
.sub-menu .current-menu-item, .sub-menu .current-page-ancestor{
    display: block;
    .sub-menu{
        display: block;
    }
}
.side-nav{
    @media #{$m2}{
        height: 0;
        overflow: hidden;
    }
}

