// #fc_cart_container{
//   a{
//     color: $white;
//     background-image: url('https://releftra.com/wp-content/themes/releftra/library/images//button.png');
//   }
// }
// //
// // Tables
// // --------------------------------------------------
// #fc_cart_container{
//     //border-radius: 15px;
//     //border: 2px solid #555;
//     max-width: 800px;
//     margin-bottom: 4em;
//     overflow: hidden;
//     &.width-550{
//         max-width: 550px;
//     }
//     &.width-650{
//         max-width: 650px;
//     }
//     @media #{$b2}{
//         margin: auto;
//     }
// }
// table {
//   max-width: 100%;
//   text-align: center;
// }


// #fc_cart_table {
//   width: 100%;

//   // Cells
//   > thead,
//   > tbody,
//   > tfoot {
//     > tr {
//       > th,
//       > td {
//         padding: 1.5em 1em;
//         font-size: 1.1em;
//         line-height: 1.2;
//         vertical-align: middle;
//         border-top: 1px solid #555;
//       }
//     }
//   }
//   // Bottom align for column headings
//   > thead > tr > th {
//     vertical-align: bottom;
//     //border-bottom: 2px solid #555;
//   }
//   // Remove top border from thead by default
//   > caption + thead,
//   > colgroup + thead,
//   > thead:first-child {
//     > tr:first-child {
//       > th,
//       > td {
//         border-top: 0;
//       }
//     }
//   }
 

// }
// .odd-even {
//     tfoot {
//         td {
//             &:nth-child(even){
//                 background-color: rgba(#f2f2f2, .8);
//             }
//         }
//     }
// }


// // Condensed table w/ half padding

// // .table-condensed {
// //   > thead,
// //   > tbody,
// //   > tfoot {
// //     > tr {
// //       > th,
// //       > td {
// //         padding: 0.2em;
// //       }
// //     }
// //   }
// // }


// // Bordered version
// //
// // Add borders all around the table and between all the columns.

// .table-bordered {
//   //border: 1px solid #555;
//   > thead,
//   > tbody,
//   > tfoot {
//     > tr {
//       > th,
//       > td {
//         border: 1px solid #555;
//         &:last-child{
//             border-right: none;
//         }
//         &:first-child{
//             border-left: none;
//         }
//       }
//     }
//   }
//   // > thead > tr {
//   //   > th,
//   //   > td {
//   //     border-bottom-width: 2px;
       
//   //   }
//   // }
//   tfoot{
//     tr:last-child{
//         td{
//             border-bottom: none;
//         }
//     }
//   }
// }


// // Zebra-striping
// //
// // Default zebra-stripe styles (alternating gray and transparent backgrounds)

// // .table-striped {
// //   > tbody > tr:nth-child(odd) {
// //     > td,
// //     > th {
// //      // background-color: $table-bg-accent;
// //     }
// //   }
// // }


// // Hover effect
// //
// // Placed here since it has to come after the potential zebra striping

// // .table-hover {
// //   > tbody > tr:hover {
// //     > td,
// //     > th {
// //       background-color: $table-bg-hover;
// //     }
// //   }
// // }


// // Table cell sizing
// //
// // Reset default table behavior

// table col[class*="col-"] {
//   position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
//   float: none;
//   display: table-column;
// }
// table {
//   td,
//   th {
//     &[class*="col-"] {
//       position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
//       float: none;
//       display: table-cell;
//     }
//   }
// }


// // Table backgrounds
// //
// // Exact selectors below required to override `.table-striped` and prevent
// // inheritance to nested tables.

// // Generate the contextual variants



// // Responsive tables
// //
// // Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// // by enabling horizontal scrolling. Only applies <768px. Everything above that
// // will display normally.

// @media #{$s2} {
//   #fc_cart_container {
//     width: 100%;
//     max-width: 100% !important;
//     margin-bottom: 0.5em;
//     overflow-y: hidden;
//     overflow-x: scroll;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//     border: 1px solid #555;
//     -webkit-overflow-scrolling: touch;
    
//     // Tighten up spacing
//     table {
//       margin-bottom: 0;

//       // Ensure the content doesn't wrap
//       > thead,
//       > tbody,
//       > tfoot {
//         > tr {
//           > th,
//           > td {
//             //white-space: nowrap;
//             padding: 1em 1.5em;
//             max-width: 250px;
//           }
//         }
//       }
//     }

//     // Special overrides for the bordered tables
//     table {
//       border: 0;

//       // Nuke the appropriate borders so that the parent can handle them
//       > thead,
//       > tbody,
//       > tfoot {
//         > tr {
//           > th:first-child,
//           > td:first-child {
//             border-left: 0;
//           }
//           > th:last-child,
//           > td:last-child {
//             border-right: 0;
//           }
//         }
//       }

//       // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
//       // chances are there will be only one `tr` in a `thead` and that would
//       // remove the border altogether.
//       > tbody,
//       > tfoot {
//         > tr:last-child {
//           > th,
//           > td {
//             border-bottom: 0;
//           }
//         }
//       }

//     }
//   }
// }
// table{
//     .table{
//         td:first-child{
//             width: 35%;
//             min-width: 150px;
//         }
//     }
// }
// .width-650{
//     .color-bkgd{
//         //font-weight: normal;
//     }
//     .table{
//         td:first-child{
//             width: 25%;
//             min-width: 150px;
//         }
//     }
// }
// .lightest-grey-bkgd{
//     background-color: #f2f2f2;
// }
// .color-bkgd{
//     font-weight: bold;
//     color: $white;
// }
// .orange-bkgd{
//     background-color: orange;
// }
// .blue-bkgd{
//     background-color: blue;
// }
// .red-bkgd{
//     background-color: red;
// }